<div class="container">
	<div class="row">
		<div class="col-sm-12">
		<% @posts.each do |post| %>
				<div class="thumbnail">
			<% if post.text == nil %>
				<div>
				<span style="float: right;"><%= link_to 'お気に入り', '#' %></span>
				<span style="float: left;"><%= post.created_at.strftime("%Y年%m月%d日") %></span>
				</div>
					<%= image_tag post.images.low_resolution.url %>
					<div class="caption">
					<%= post.caption.text %>
				</div>
			<% elsif post.media[0] %>
				<div>
				<span style="float: right;"><%= link_to 'お気に入り', '#' %></span>
				<span style="float: left;"><%= post.created_at.strftime("%Y年%m月%d日") %></span>
				</div>
				<%= image_tag(post.media[0].media_url, class:"img-responsive center-block") %><br>
				<%= post.text %>
			<% else %>
				<div>
				<span style="float: right;"><%= link_to 'お気に入り', '#' %></span>
				<span style="float: left;"><%= post.created_at.strftime("%Y年%m月%d日") %></span>
				</div>
				<br>
				<%= post.text %>
			<% end %>
				</div>
		<% end %>
		</div>
	</div>
</div>

<span><a class="favorite" href="">お気に入り</a></span>
<script>
$(function() {
    $(".favorite").click(function(e) {
    if ($(this).html() == "お気に入り") {
        $(this).html('お気に入り解除');
    }
    else {
        $(this).html('お気に入り');
    }
    return false;
    });
});
</script>


