<div class="container">
	<div class="row">
		<div class="col-sm-12">
		<% @posts.each do |post| %>
				<div class="thumbnail">
				<div class="text-right">
				<%= link_to 'お気に入り', '#' %>
				</div>
			<% if post.text == nil %>
				<%= image_tag post.images.low_resolution.url %>
				<div class="caption">
				<%= post.caption.text %>
				<%= post.created_at %>
				<br>
				</div>
			<% elsif post.media[0] %>
				<%= image_tag(post.media[0].media_url, class:"img-responsive center-block") %><br>
				<%= post.text %>
			<% else %>
				<%= post.text %>
				<%= post.created_at %>
			<% end %>
				</div>
		<% end %>
		</div>
	</div>
</div>

