<div class="container">
	<div class="row">
		<div class="col-sm-12">
		<% @posts.each do |post| %>
				<div class="thumbnail">
			<% if post.text == nil %>
				<div>
				<span style="float: right;" class="favorite" id="<%= post.id %>"><%= 'お気に入り' %></span>
				<span style="float: left;"><%= post.created_at.strftime("%Y年%m月%d日") %></span>
				</div>
					<%= image_tag post.images.low_resolution.url %>
					<div class="caption">
					<%= post.caption.text %>
				</div>
			<% elsif post.media[0] %>
				<div>
				<span style="float: right;" class="favorite" id="<%= post.id %>"><%= 'お気に入り' %></span>
				<span style="float: left;"><%= post.created_at.strftime("%Y年%m月%d日") %></span>
				</div>
				<%= image_tag(post.media[0].media_url, class:"img-responsive center-block") %><br>
				<%= post.text %>
			<% else %>
				<div>
				<span style="float: right;" class="favorite" id="<%= post.id %>"><%= 'お気に入り' %></span>
				<span style="float: left;"><%= post.created_at.strftime("%Y年%m月%d日") %></span>
				</div>
				<br>
				<%= post.text %>
			<% end %>
				</div>
		<% end %>
		</div>
	</div>
</div>


<script src= "/assets/js.cookie.js"></script>
<script>
jQuery(function ($) {
    $('.favorite').click(function () {
        var lid = this.id,
            cookie = Cookies.set('liked' + lid);
        if (cookie == 1) {
            Cookies.remove('liked' + lid)
        } else {
            Cookies.set('liked' + lid, 1, {
                expires: 30
            });
        }
        $(this).html($(this).text() == 'お気に入り解除' ? 'お気に入り' : 'お気に入り解除');
    }).each(function () {
        if (Cookies.set('liked' + this.id) == 1) {
            $(this).text('お気に入り解除')
        }　
    })
})
</script>




